[submodule "Marble/thirdParty/spdlog"]
	path = Marble/thirdParty/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Marble/thirdParty/GLFW"]
	path = Marble/thirdParty/GLFW
	url = https://github.com/AlxSp/glfw.git
	branch = master
[submodule "Marble/thirdParty/imgui"]
	path = Marble/thirdParty/imgui
	url = https://github.com/AlxSp/imgui.git
	branch = docking
[submodule "Marble/thirdParty/glm"]
	path = Marble/thirdParty/glm
	url = https://github.com/g-truc/glm
	branch = master
