#OS specific files and folders
#macOS
.DS_Store


#Directories
bin/
bin-int/
#ignore premake executables
!thirdParty/bin/premake/    

#Nucleus files
*.log


#Sandbox files 
Sandbox/*.json
Sandbox/*.ini

# IDE files and folders 
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# vscode files
.vscode/


#GNU Make
Makefile