[submodule "Nucleus/thirdParty/spdlog"]
	path = Nucleus/thirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nucleus/thirdParty/GLFW"]
	path = Nucleus/thirdParty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Nucleus/thirdParty/imgui"]
	path = Nucleus/thirdParty/imgui
	url = https://github.com/ocornut/imgui
