#OS specific directories
#macOS
.DS_Store


#Directories
bin/
bin-int/
!thirdParty/bin/premake/


#Sandbox files 
Sandbox/*.json

# IDE files and folders 
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# vscode files
.vscode/


#GNU Make
Makefile