#Directories
bin/
bin-int/
#ignore premake executables
!thirdParty/bin/premake/    

#Marble files
*.log

#Sandbox files 
Sandbox/*.json
Sandbox/*.ini

#
#IDE files and folders 
#
# Visual Studio files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# vscode files and folders
.vscode/

#
#Build Systems and Generators 
#
# CMake files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
#CMake Tools 
build/

# GNU Make
Makefile

#
#OS specific files and folders
#
# macOS
.DS_Store